
<!DOCTYPE HTML>
<html lang="en dir="ltr">
 <head>
  <meta charset="utf-8">
    <title>animated login form</title>
    <link rel="stylesheet" href="style.css">
    <style>
      body {
        background-image: url('img/23.jpg');
        font-size: 20px;
      }
    
      
        h1 {text-align: center;}
        h3 {text-align: center;}

       
 
    </style>
  </head>

 <body>

  
<div>
 <form class="box" action="connect.ejs" method="POST">
   <h1>login To Our Site.<span style='font-size:100px;'>&#128587;</span></h1>
   <h3>Enter Username And Password To login Our Site.</h3></h1>
   <center>
 <input type="text" name="" placeholder="username">   <br>
 <input type="text" name="" placeholder="email"> <br>

 <input type="password" name="" placeholder="password"><br>

 <input type="checkbox" id="Remember Me" name="Remember Me" value="Remember Me">
  <label for="Remember Me">click Me To Remember</label><br><br>
 <input type="submit" name="" value="login">
   </center>
</form>
</div>
</div>
</body>
</html>