<!DOCTYPE HTML>
<html lang="en dir="ltr">
 <head>
    <meta charset="utf-8">
    <title>Animated registration form</title>
    <link rel="stylesheet" href="style.css">
    <style>
      body {
      
        background-image: url('img/93.jpg');
        font-size: 20px;
      }
      </style>
 </head>
 <body>
  
  
 <form class="box" action="index.ejs" method="post">
   <center>
   <h1>Sign Up now<span style='font-size:50px;'>&#128273;</span></h1><br>
   
   <h3>Fill in the form below to get instant access:</h3>
   <input type="text" name="" placeholder="Yourname"><br>
 <input type="text" name="" placeholder="username"><br>
 <input type="E-mail Address" name="" placeholder="E-mail Address"><br>
 <input type="password" name="" placeholder="password"><br>
 <input type="Confirm password" name="" placeholder="Confirm password"><br>
 <input type="submit" name="" value="Register">
</center>
</form>

</body>
</html>
